<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template title</title>
		<link rel="stylesheet" href="../dist/css/lima.css">
		<link rel="stylesheet" href="/style.css">
	</head>
	<body class="default-theme">
    <div id="mobile-menu" class="px-2 mobile">
      <nav class="menu menu--mobile">
        <span class="logofull logofull--white m-auto mt-2 mb-3"></span>
        <a href="https://meetlima.com/" class="menu__item menu__item--selected">Home <i class="fa fa-home"></i></a>
        <a href="https://meetlima.com/how-it-works" class="menu__item ">How it works</a>
        <a href="https://meetlima.com/day-with-lima" class="menu__item ">A day with Lima</a>
        <a href="https://meetlima.com/specs" class="menu__item ">Tech Specs</a>
        <a href="https://support.meetlima.com/hc/en-us" class="menu__item">Q&amp;A</a>
        <a href="https://meetlima.com/blog" class="menu__item">Blog</a>
      </nav>
      <nav class="menu menu--mobile">
        <a href="https://install.meetlima.com" class="menu__item">Download the Lima Apps</a>
        <a href="https://support.meetlima.com/hc/en-us/requests/new" class="menu__item">Contact Us</a>
        <a href="https://meetlima.com/press" class="menu__item">Pressroom</a>
      </nav>
      <nav class="menu menu--mobile">
        <a href="https://meetlima.com/privacy" class="menu__item">Privacy</a>
        <a href="https://meetlima.com/terms" class="menu__item">Terms of use</a>
      </nav>
      <nav class="menu menu--mobile">
        <span class="menu__item">
          <a href="https://www.facebook.com/MeetLima" class="link link--white"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/meetlima" class="link link--white"><i class="fa fa-twitter"></i></a>
          <a href="https://vimeo.com/meetlima" class="link link--white"><i class="fa fa-vimeo"></i></a>
          <a href="https://instagram.com/meetlima" class="link link--white"><i class="fa fa-instagram"></i></a>
        </span>
      </nav>
      <input type="text" class="mobile-newsletter" placeholder="Your Email"/>
    </div>
    <header class="header">
     <a href="#mobile-menu" id="show-menu" class="header__showmenu mobile"><i class="fa fa-bars"></i></a>
     <a href="#" id="hide-menu" class="header__showmenu mobile"><i class="fa fa-bars"></i></a>
     <a href="https://meetlima.com/" class="header__logo"></a>
     <nav class="header__menu">
         <a href="https://meetlima.com/how-it-works" class="header__menu__item ">How it works</a>
         <a href="https://meetlima.com/day-with-lima" class="header__menu__item ">A day with Lima</a>
         <a href="https://meetlima.com/specs" class="header__menu__item ">Tech Specs</a>
         <a href="https://support.meetlima.com/hc/en-us" class="header__menu__item">Q&amp;A</a>
         <a href="https://meetlima.com/blog" class="header__menu__item">Blog</a>
         <a href="https://meetlima.com/shop" class="header__menu__item button button--small"><i class="fa fa-shopping-cart"></i>Buy Now</a>
     </nav>
   </header>

    <div class="jumbotron">
      <h1 class="jumbotron__title">Title</h1>
      <p class="jumbotron__text">Some text</p>
    </div>
    <div class="container">
      <h2>Content here</h2>
    </div>


   <footer class="footer no-mobile">
      <nav class="footer__menu">
        <span class="footer__logo"></span>
        <a href="https://install.meetlima.com" class="footer__menu__item">Download the Lima Apps</a>
        <a href="https://support.meetlima.com/hc/en-us/requests/new" class="footer__menu__item">Contact Us</a>
        <a href="https://meetlima.com/press" class="footer__menu__item">Pressroom</a>
      </nav>
      <nav class="footer__social">
        <a href="https://vimeo.com/meetlima" class="footer__social__item"><i class="fa fa-vimeo"></i></a>
        <a href="https://instagram.com/meetlima" class="footer__social__item"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com/meetlima" class="footer__social__item"><i class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/MeetLima" class="footer__social__item"><i class="fa fa-facebook"></i></a>
      </nav>
      <nav class="footer__menu">
        <span class="footer__menu__item">&copy; 2015 Lima Technology Inc</span>
        <a href="https://meetlima.com/privacy" class="footer__menu__item">Privacy</a>
        <a href="/terms" class="footer__menu__item">Terms of use</a>
      </nav>
      <input type="text" class="footer__newsletter" placeholder="Enter your email address"/>
    </footer>
	</body>
</html>
