---
---

@import 'syntax';

//
// todo
//

code.highlighter-rouge{
	background-color: #EDEEEF;
	padding:1px 5px;
	border-radius: 3px;
}

figure.highlight{
	border-radius: 5px;
	padding:10px;
	margin: 10px 0;
	background-color: #EDEEEF;
}